# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/store_panel?schema=public"

# Auth - generate with: openssl rand -base64 32
AUTH_SECRET="your-super-secret-key-change-me-in-production-min-32-chars"
AUTH_URL="http://localhost:3000"